/* nav bar styling */

.navbar-nav {
  font-size: 20px;
}

/* page styling */

.alert {
  font-size: 20px;
}

.sub-heading {
  font-size: 25px;
}

.acc-header {
  font-size: 25px;
  color: #6c757d;
}

.card-header {
  border-bottom: none;
}

.time {
  font-family: "Lucida Handwriting";
  text-decoration: underline;
}

.display-5 {
  font-size: 25px;
}

.lead {
  font-size: 20px;
}

h2 {
  padding-bottom: 1rem;
  border: 3px double #6c757d;
  padding-top: 1rem;
}

.mb-0 {
  border: none;
  padding: 0;
}

.jumbotron {
  padding: 32px 16px;
}

/* carosel styling */

.venue,
.btn-lg {
  background-color: #646464;
  border-color: black;
  width: 150px;
  color: white;
}

.venue:hover,
.btn-lg:hover {
  background-color: white;
  color: black;
  border-color: black;
}

.venue:visited,
.btn-lg:visited {
  background-color: #c8c8c8;
  color: black;
  border-color: black;
}

#myBtn {
  height: 3em;
  width: 3em;
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #646464; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 50px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

/* footer styling */

.page-footer {
  margin-top: 5%;
  font-size: 15px;
}

@media screen and (max-width: 600px) {
  .acc-header {
    font-size: 20px;
  }

  .display-5 {
    font-size: 20px;
  }

  .lead {
    font-size: 17px;
  }

  p {
    font-size: 17px;
  }
}
